* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
    font-family: 'Roboto', sans-serif;
    height: calc(100vh - 40px);
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 40px;
    display: grid;
    grid-gap: 0 80px;
    grid-template-areas:
        "header header sidebar"
        "main main sidebar"
    ;
}

/* HEADER */
.header {
    grid-area: header;
    max-height: 48px;
}

.logo {
    width: 120px;
    display: flex;
    justify-content: center;
}

/* ENCRYPTED SECTION */
.main {
    grid-area: main;
    max-width: 680px;
    margin: 80px auto 72px auto;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main>input {
    width: 577px;
    height: 48px;
    background-color: #F3F5FC;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;

    border: 0;
    outline: 0;
    border-bottom: 2px solid #0A3871;
}

.main>input::placeholder {
    color: #0A3871;
}

.encryption-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message-warning {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.message-warning>img {
    width: 16px;
    height: 16px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 67px;
}

.encrypt {
    width: 328px;
    height: 100%;
    background: #0A3871;
    color: #FFF;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    cursor: pointer;
    transition-duration: 0.4s;
}

.encrypt:hover {
    background: #D8DFE8;
    color: #0A3871;
}

.decrypt {
    width: 328px;
    height: 100%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;
}

.decrypt:hover {
    background: #0A3871;
    color: #FFF;
}

/* SIDEBAR */
.sidebar {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    grid-area: sidebar;
    background-color: #FFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#area-message {
    margin: auto 32px auto 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found {
    width: 80%;
    margin: auto auto 16px auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.text-message {
    width: 80%;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;
}

#show-text {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#text-encrypt {
    width: 90%;
    height: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #343A40;
    outline: none;
    border: none;
    resize: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-copy {
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 24px;
    color: #0A3871;
    background: #FFFFFF;
    width: 90%;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn-copy:hover {
    background: #0A3871;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    body{
        height: 100%;
    }
    .container {
        grid-template-areas:
            "header header header"
            "main main main"
            "sidebar sidebar sidebar"
        ;
        margin: 40px 0px 40px 0px;
    }
    .main{
        margin: auto auto 2rem auto;
    }
    .main>input {
        width: 100%;
    }

    .encrypt,
    .decrypt {
        width: 332px;
    }

    .sidebar {
        width: 688px;
        margin: auto;
    }

    .not-found, .text-message {
        width: 100%;
    }
    #area-message{
        
        height: 133px;
    }
    #area-message>img {
        display: none;
    }
    #show-text{
        height: 343px;
    }
    #text-encrypt{
        margin: 1rem;
    }
    .btn-copy{
        width: 80%;
        padding: 1rem;
    }
}
@media screen and (max-width: 375px) {
    body{
        height: 100vh;
    }
    .container {
        grid-template-areas:
            "header"
            "main"
            "sidebar"
        ;
        margin: 40px 0px 40px 0px;
        max-width: 375px;
    }
    .main{
        margin: 5rem 1rem 6rem 1rem;
    }
    .main>input {
        width: 343px;
    }
    .buttons{
        display: block;
    }
    .encrypt{
        margin-bottom: 1rem;
    }
    .encrypt,
    .decrypt {
        width: 343px;
    }

    .sidebar {
        width: 327px;
        margin: auto;
    }

    .not-found, .text-message {
        width: 100%;
    }
    #area-message{
        
        height: 133px;
    }
    #area-message>img {
        display: none;
    }
    #show-text{
        height: 343px;
    }
    #text-encrypt{
        margin: 1rem;
    }
    .btn-copy{
        width: 80%;
        padding: 1rem;
    }
}
